---
---

@import "{{ site.theme }}";

.site-header {
    background: #1f2933;
    padding: 1rem 2rem;
}

.nav-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a {
    color: #cbd5e1;
    margin-left: 20px;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    color: white;
}
